<div *ngIf="hash">
  <div>
    <label><b>Url: </b></label> {{hash.url}}
  </div>
  <div>
    <label><b>Shortened: </b></label> <a href="http://localhost:8000/{{hash.shUrl}}">http://localhost:8000/{{hash.shUrl}}</a>
  </div>
  <div>
    <label><b>Visite ricevute: </b></label> {{hash.visite}}
  </div>

  <div *ngIf="utente">
    <div *ngIf="hash.buyer"> <!-- Per evitare che quando l'utente non è settato venga fuori un campo vuoto e per evitare problemi di null pointer -->
      <div>
        <label><b>User</b></label><br>
        <label><b>Nome:</b></label> {{hash.buyer.firstname}}
      </div>
      <div>
        <label><b>Cognome:</b></label> {{hash.buyer.lastname}}
      </div>
      <div>
        <label><b>Indirizzo:</b></label> {{hash.buyer.address}}
      </div>
      <div>
        <label><b>Email:</b></label> {{hash.buyer.email}}
      </div>
    </div>
  </div>
</div>

