
<div *ngIf="hash">
  <div>
    <label><b>Id: </b></label> {{hash.id}}
  </div>
  <div>
    <label><b>Url: </b></label> {{hash.url}}
  </div>
  <div>
    <div *ngIf="hash.buyer"> <!-- Per evitare che quando l'utente non è settato venga fuori un campo vuoto e per evitare problemi di null pointer -->
      <div>
        <label><b>User</b></label><br>
        <label><b>Nome:</b></label> {{hash.buyer.firstName}}
      </div>
      <div>
        <label><b>Cognome:</b></label> {{hash.buyer.lastName}}
      </div>
      <div>
        <label><b>Indirizzo:</b></label> {{hash.buyer.address}}
      </div>
      <div>
        <label><b>Email:</b></label> {{hash.buyer.email}}
      </div>
    </div>
  </div>
</div>

