<mat-toolbar  color="primary">
  <mat-toolbar-row>
    <span>Nemo</span>
    <span class="example-spacer"></span>

    <button *ngIf="!isLoggedIn" mat-icon-button class="" aria-label="Example icon-button with heart icon" (click)="login()">
      <mat-icon>person</mat-icon>
    </button>
    <button *ngIf="isLoggedIn" mat-icon-button class="" aria-label="Example icon-button with heart icon" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

