<mat-card *ngIf="isLoggedIn">
  <mat-card-title>Bentornato in Nemo</mat-card-title>
  <mat-card-content>
    <p>
      Nemo ti offre la possibilità di usufruire di un servizio di short url, per tutte le tue necessità.
    </p>
  </mat-card-content>
  <form class="example-form" [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field class="example-full-width">
      <mat-label>Url</mat-label>
      <input matInput formControlName="url" type="text" id="url" placeholder="Ex. http://www.google.it" required>
      <mat-error *ngIf="f.url.touched && f.url.invalid && f.url.errors.pattern">Please enter a valid url</mat-error>
      <mat-error *ngIf="f.url.touched && f.url.invalid && f.url.errors.required">Url is <strong>required</strong></mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Custom Short</mat-label>
      <input matInput type="text" id="short" placeholder="Ex. customUrl">
    </mat-form-field>
    <button type="submit" [disabled] = "!form.valid" mat-raised-button color="primary">Invia</button>
  </form>
</mat-card>
<br>
<mat-card *ngIf="hash">
  <mat-card-title>ShortLink creato con successo ed aggiunto alla lista: </mat-card-title>
  <mat-card-content>
    <a href="http://localhost:8000/{{hash.shUrl}}">http://localhost:8000/{{hash.shUrl}}</a>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="!isLoggedIn">
  <mat-card-title>Login Richiesto</mat-card-title>
  <mat-card-content>
    <p>
      Prima di poter utilizzare i servizi offerti dalla user dashboard devi aver effettuato l'accesso.
    </p>
    <p><strong>
      Effettua subito il Login:
    </strong></p>
    <button mat-raised-button color="primary" (click)="login()">Login</button>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="isLoggedIn" class="lista">
  <mat-card-title>I tuoi Short</mat-card-title>
  <app-hash-list [utente]=false ></app-hash-list>
</mat-card>
