<mat-nav-list>
   <app-buyer-details *ngIf="isLoggedIn"></app-buyer-details>
  <h2 matSubheader>Menu</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>home</mat-icon>
    Homepage
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/user">
    <mat-icon>person</mat-icon>
    User Dashboard
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">
    <mat-icon>settings</mat-icon>
    Admin Dashboard
  </a>

</mat-nav-list>
