
  <mat-card-title>Pannello di controllo</mat-card-title>
  <mat-card-content>
    <p>
      Osserva le corrispondenze tra url e shortened url
    </p>
  </mat-card-content>
<br>
<mat-card >
  <mat-card-title>Login Richiesto</mat-card-title>
  <mat-card-content>
    <p>
      Per ottenere il controllo sulla piattaforma, verifica la tua identità
    </p>
    <p><strong>
      Effettua subito il Login:
    </strong></p>
    <button mat-raised-button color="primary" >Login</button>
  </mat-card-content>
</mat-card>

